.section-skills{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-snap-align: start;
    /* scroll-behavior: auto; */
    border: 1px solid red; 
}
.titulo-skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* color: #4b4850; */
    /* border: 1px solid rgb(255, 72, 0); */
}
.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 1px solid rgb(255, 72, 0); */
}

.volverInicio{
    width: 20%;
    font-size: 20px;
    color:black;
    text-decoration-line: none;
}
.anchor-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
    /* border: 1px solid red; */   
}
