.section-layout{
    min-height: 100vh;
}
.text-layout{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #4b4850;
    text-shadow: 1px 1px 5px rgba(247, 244, 252, 0.377);
    font-weight: bold;
    /* border: 1px solid yellow;  */
    scroll-snap-align: start;
  
}
/* /* .h1{
    border: 1px solid yellow; 
 } */
.h2{
   font-weight:500;
}
.h2:hover{
    font-size: 30px;
    color:blueviolet;
    font-style: italic;
 }
video{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}