:root {
  font-family: 'Raleway', sans-serif,'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #4b4850;
  background-image: url("./assets/images/imgFondo3.png");
  background-size: cover;

  /* overflow: auto;
  scroll-snap-type: y proximity; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html{
  min-height: 100vh;
  scroll-snap-type: y mandatory;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

