* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border-radius: 4px;
  --color-text: #524f56;
  --color-text-hover: #8d58e9;
  --text-shadow: .2em .2em .53em #f7f4fc60;

  --color-background: #fff;
  --color-border: #59585a;
  --color-border-hover: #f9f9f9;

  --bgcolor-button: #8d58e9;
  --bgcolor-button-hover: #ec934b;
  --color-border-button: 2px solid #ae89ef;
  --color-text-button: #edebf1;

  --box-shadow: 3px 3px 5px #59585a;
  --input-shadow: 3px 3px 3px #bab9bb;
  --input-color-text: black;
  --input-bg-color: #dde2e98e;

  --color-font: #4b4850;

  font-family: "Raleway", sans-serif, "Oswald", sans-serif;
  line-height: 1.5;
  /* font-weight: 600; */

  color-scheme: light dark;
  background-image: url("./assets/images/imgFondo3.png");
  background-size: cover;

  /* overflow: auto;
  scroll-snap-type: y proximity; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  width: 100%;
  min-height: 100vh;
  scroll-snap-type: y mandatory;
  color: var(--color-font);
  /* overflow-x: hidden; */
}
body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  /* border: 2px solid blue; */
}

a {
  color: black;
  text-decoration-line: none;
  /* border: 2px solid red; */
}
.volverInicio {
  width: 20%;
  font-size: 1.2em;
  color: black;
  text-decoration-line: none;
}
.anchor-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2em;
  /* border: 1px solid red; */
}
/*////////////////////////App//////////////////////////////*/

.logo {
  width: 40%;
}
.App {
  background-image: url("./assets/images/imgFondo3.png");
  /* background-size: contain; */
}

/*////////////////////////NavBar/////////////////////////////*/

.section-navBar {
  width: 100%;
  padding: 1.5em 3em .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 7.5em;
  scroll-snap-align: start;
  overflow: hidden;
  /* border: 1px solid red; */
}
.image-logo img {
  width: 20em;
  /* border: 1px solid greenyellow; */
}
.links-container {
  width: 30em;
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: large;
  justify-content: space-around;
  /* border: 1px solid yellow; */
}
ul {
  list-style: none;
}
/*////////////////////////Layout/////////////////////////////*/
.section-layout {
  height: 100vh;
}
.text-layout {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  text-shadow: var(--text-shadow);
  font-weight: bold;
  scroll-snap-align: start;
  /* border: 1px solid yellow;  */
}
.h2 {
  font-weight: 500;
  text-shadow: var(--text-shadow);
}
.h2:hover {
  font-size: 30px;
  color: var(--color-text-hover);
  font-style: italic;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

/*////////////////////////About/////////////////////////////*/
.section-about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-snap-align: start;
  scroll-behavior: auto;
  /* border: 1px solid red; */
}

.titulo-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  /* color: #4b4850; */
  /* border: 1px solid rgb(255, 72, 0); */
}
.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid rgb(255, 72, 0); */
}
.container-avatar img {
  width: 20em;
  margin-left: 5em;
  /* border: 1px solid rgb(255, 72, 0); */
}
.text-about {
  width: 60%;
  display: flex;
  font-size: .9em;
  flex-direction: column;
  justify-content: center;
  padding: 2em 4em;
  text-align: justify;
  margin-bottom: .5em;
  /* border: 1px solid rgb(255, 72, 0); */
}
/*////////////////////////Skills/////////////////////////////*/
.section-skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
  /* border: 1px solid red; */
  
}
.title-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  height: 5em;
    /* border: 3px solid rgb(0, 255, 85); */
}
.carousel-container {
  position: absolute;
  width: 80%;
  display: block;
  margin-top: 6em;
  margin-left: 12em;

  /* border: 3px solid rgb(0, 255, 85); */
}
.icon-container {
  width: 1.8em;
  height: 2em;
}
.img-skill {
  width: 9em;
}
.paginate-skills{
  margin-bottom: 6em;
   /* border: 3px solid rgb(0, 255, 85);  */
}

/*////////////////////////Projects/////////////////////////////*/

.section-projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-snap-align: start;
  scroll-behavior: auto;
  /* border: 1px solid red; */
}
.title-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  height: 5em;
}
.container-projects {
  /* margin-left: 5em; */
  padding: 0 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
}
.container-card {
  border-radius: 4px;
  width: 17em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  backface-visibility: visible;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  /* border: 1px solid red; */
}

.card {
  cursor: pointer;
  height: 20em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.466);
  /* border: 1px solid yellow; */
}
.image-card {
  width: 100%;
  height: 55%;
  /* border: 1px solid orange; */
}
.info-card {
  align-items: center;
  display: flex;
  padding: 1em 1em 1em;
  height: auto;
  flex-direction: column;
  line-height: 1em;
  color: black;
  /* border: 1px solid blue; */
}
.section-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

/*////////////////////////Contactme/////////////////////////////*/
.section-contactme {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
}
.contact-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  height: 5em;
}
.container-contactme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 6em;
  /* border: 1px solid blue; */
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;

  /* border: 1px solid red; */
}
.container-izq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 2em;
  /* border: 1px solid red; */
}
.img-linkedin {
  width: 3em;
}
.img-github {
  width: 3.5em;
}
.img-whatsapp {
  width: 3em;
  margin-bottom: 3em;
}
.downloadCv {
  border: var(--color-border-button);
  padding: 0.8em;
  border-radius: 10px;
  background-color: var(--bgcolor-button);
  text-decoration: none;
  color: var(--color-text-button);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.downloadCv:hover {
  background-color: var(--bgcolor-button-hover);
  color: var(--color-text);
  border: var(--color--border-hover);
}

.input-name {
  border: none;
  width: 25em;
  min-height: .5em;
  background-color: var(--input-bg-color);
  border-radius: 5px;
  color: var(--input-color-text);
  padding: .5em 1em;
  font-family: "Raleway", sans-serif, "Oswald", sans-serif;
  font-size: large;
  box-shadow: var(--input-shadow);
}
.input-email {
  border: none;
  width: 25em;
  min-height: .5em;
  background-color: var(--input-bg-color);
  border-radius: 5px;
  color: var(--input-color-text);
  padding: .5em 1em;
  font-family: "Raleway", sans-serif, "Oswald", sans-serif;
  font-size: large;
  box-shadow: var(--input-shadow);
}
.input-mensaje {
  border: none;
  width: 25em;
  padding: 1em 1em;
  background-color: var(--input-bg-color);
  border-radius: 5px;
  color: var(--input-color-text);
  padding: 1em 1em;
  font-family: "Raleway", sans-serif, "Oswald", sans-serif;
  font-size: large;
  margin-bottom: 1em;
  box-shadow: var(--input-shadow);
}
.label-contactme {
  font-size: 1.5em;
}
.btn-form {
  width: 100%;
  border: var(--color-border-button);
  padding: 0.5em 3em;
  font-size: medium;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--bgcolor-button);
  text-decoration: none;
  color: var(--color-text-button);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.btn-form:hover {
  background-color: var(--bgcolor-button-hover);
  color: var(--color-text);
  border: var(--color--border-hover);
}
.alerta-error {
  color: red;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/**************************************************/
@media screen and (max-width: 1024px) {
  .section-layout {
    width: 100%;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    object-fit: cover;
    
}
.section-about {
width: 100%;
margin-left: 2em;
margin-top: 1em;
padding: 1em 3em;
}
.titulo-about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-container {
  width: 100%;
  display: flex;
  height: 85vh;
  justify-content: space-between;
  padding: 0 0 5em;
  height: 28em;
}
.text-about{
  display: flex;
  justify-content: space-between;
}
.container-avatar{
  width: 30%;
}
.container-avatar img {
  width: 20em;
  padding: 2em 1em 5em;
}
.section-skills {
width: 100%;
align-items: center;
}
.title-skills {
  width: 100%;
  align-items: center;
}
.carousel-container {
  width: 100%;
  margin-left: 0;
}

};
/**************************************************/
/* @media screen and (max-width: 425px) {
  .section-navBar {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 7.5em;
    scroll-snap-align: start;
  
    border: 1px solid red;
  }
  .img-logo{
    width: 50%;
    border: 1px solid yellow;
 }
  .links-container {
    width: 30em;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: large;
    justify-content: space-around;
  }
  .section-layout video {
 width: 100%;
  }
 
.section-about {

}
.titulo-about {

}
.about-container {

}
.text-about{

}
.container-avatar{

}
.container-avatar img {
 
}
.section-skills {

}
.title-skills {

}
.carousel-container {

}

}; */